<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="/public/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  
  </head>

<body>

    <div class="container p-4 detail">

        <div class="row">
          <div class="col-3">
            <ul class="list-group chat-list">

              <% for (var i=0; i < data.length ; i++){ %>
                <li class="list-group-item" data-id="<%= data[i]._id %>">
                  <h6> <%= data[i].title %> </h6>     
                  <h6 class="text-small"> <%= data[i].member[0] %> </h6>
                </li>
              <% } %>
               
              <li class="list-group-item">
                <h6>채팅방1</h6>
                <h6 class="text-small">채팅방아이디</h6>
              </li>
            
            </ul> 
           </div>
      
           <div class="col-9 p-0">
             <div class="chat-room">
                <ul class="list-group chat-content">
                  <li><span class="chat-box">채팅방1 내용</span></li>
                  <li><span class="chat-box">채팅방1 내용</span></li>
                  <li><span class="chat-box mine">채팅방1 내용</span></li>
                </ul>
              <div class="input-group">
                <input class="form-control" id="chat-input">
                <button class="btn btn-secondary" id="send">전송</button>
              </div>
            </div>
          </div>
        </div>
      
      </div> 

</body>
<style>
  .chat-content {
  height: 450px;
  overflow-y: scroll;
  padding: 10px;
  }
  .chat-content li {
  margin-top: 10px;
  list-style: none;
  }
  .text-small {
  font-size: 12px;
  color: gray;
  margin-bottom: 0;
  }
  .chat-box {
  background: #eee;
  padding: 5px;
  border-radius: 5px;
  float: left;
  }
  .mine {
  float: right;
  } 
</style>
<script>
  $('#send').click(function(){
  var 채팅내용 = $('#chat-input').val();   //1, 2
  var 보낼거 = {
    parent: 지금누른채팅방id,
    content: 채팅내용,
  };
  
  //3
  $.post('/message', 보낼거).then((a) => {  
     console.log(a)
  });

});


//4
var 지금누른채팅방id;

$('.list-group-item').click(function (){
   $(this).css('background-color', '#eee');
   지금누른채팅방id = $(this).attr('data-id');
});
</script>
</html>